.sidebar .nav .nav-item.active > .nav-link {
  background: #1E1C12;
  border: 3px solid #ccb161f0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.sidebar {
  font-family: 'Poppins', sans-serif;
  color: white;
  background-color: #ccb161f0;
  box-shadow: 3px 0 5px -2px #d6c07f;
}

.sidebar .nav:not(.sub-menu) > .nav-item:hover > .nav-link,
.sidebar .nav:not(.sub-menu) > .nav-item:hover[aria-expanded="true"] {
  background: #1E1C12;
  border: 3px solid #ccb161f0;
}

.sidebar .nav:not(.sub-menu) > .nav-item > .nav-link[aria-expanded="true"] {
  background: #ccb161f0;
}

.sidebar .nav:not(.sub-menu) > .nav-item.active {
  background: #ccb161f0;
}

.sidebar .nav.sub-menu {
  background-color: #f0dca1f0;
  color: white;
}

.sidebar .nav.sub-menu .nav-item{
  /* background: #fff; */
  color: black;
}
.sidebar .nav.sub-menu .nav-item .nav-link{
  color: black;
}

.sidebar .nav.sub-menu .nav-item .nav-link.active{
  background: #1E1C12;
  border: 3px solid #ccb161f0;
}

.sidebar .nav.sub-menu .nav-link:hover {
  background: #1E1C12;
  border: 3px solid #ccb161f0;
  color:white
}

.sidebar .nav.sub-menu .nav-item{
  margin-left: -30px;
  margin-right: 10px;
}

.sidebar-dark .sidebar {
  background: #ccb161f0;
}

.navbar .navbar-brand-wrapper {
  background: #ccb161f0;
}

.navbar .navbar-brand-wrapper .navbar-brand img {
  height: 50px;
}

.navbar .navbar-menu-wrapper {
  background: #ccb161f0;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown i {
  margin-right: 0;
}

.sidebar .nav .nav-item .nav-link .menu-title {
  color: white;
}

.page-body-wrapper{
  padding-top: 40px;
}


.faq .card .card-header {
  border: 0;
  -webkit-box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
          box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
  border-radius: 2px;
  padding: 0;
}

.faq .card .card-header .btn-header-link {
  color: #fff;
  display: block;
  text-align: left;
  background: #ccb161f0;
  color: #222;
  padding: 20px;
  font-weight: 700;
  /* padding: 20px; */
}

.card-header-submit {
  background-color: #ccb161f0;
  border-radius: 10px !important;
  text-align: center;
  color: #1C1B19;
  font-weight: 700;
}

.btn-primary, .wizard > .actions a {
  color: #fff;
  background-color: #ccb161f0;
  border-color: #ccb161f0;
}

.btn-primary:hover, .wizard > .actions a:hover {
  color: #fff;
  background-color: #ccb161f0;
  border-color: #ccb161f0;
}

.btn-primary:focus, .wizard > .actions a:focus, .btn-primary.focus, .wizard > .actions a.focus {
  color: #fff;
  background-color: #ccb161f0;
  border-color: #ccb161f0;
}

/* .faq .card .card-header .btn-header-link:after {
  font-family: 'Material Icons' !important;
  content: "\f72d";
  float: right;
  font-weight: 900;
}  */

.float-right {
  float: right;
}

.accordion > .card .card-header a[aria-expanded="true"] {
  color: #1C1B19;
}

.accordion > .card .card-header a[aria-expanded="true"]:before {
  margin: 20px;
}

.accordion > .card .card-header a[aria-expanded="false"]:before{
  margin: 20px;
}

/* .faq .card .card-header .btn-header-link.collapsed:after {
  content: "\f106";
} */

.menu-title {
  font-weight: 700;
}


/***************************************************************/



/*Knowledge Based Single Page*/
.knowledge-header {
  border-bottom: 1px solid #ccc8e1;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

@media (min-width: 576px) {
  .knowledge-header {
      padding-bottom: 25px;
      margin-bottom: 40px;
  }
}

.knowledge-header .title {
  margin-bottom: 5px;
  color: #c19b2f;
}

@media (min-width: 768px) {
  .knowledge-header .title {
      margin-bottom: 15px;
  }
}

@media (min-width: 992px) {
  .knowledge-header .title {
      font-size: 40px;
  }
}

.knowledge-header .knowledge-meta {
  font-size: 18px;
  margin: 0 -30px;
}

.knowledge-header li {
  list-style: none;
}

@media (max-width: 575px) {
  .knowledge-header .knowledge-meta {
      font-size: 16px;
  }
}

.knowledge-header .knowledge-meta li {
  padding: 0 15px;
  position: relative;
}

.knowledge-header .knowledge-meta li::after {
  position: absolute;
  content: "";
  right: 0;
  height: calc(100% - 10px);
  top: 5px;
  right: 0;
  width: 2px;
  background: #504c89;
}

.knowledge-header .knowledge-meta li:last-child::after {
  display: none;
}

.quote-item {
  background-color: #d9eaf9;
  padding: 30px 15px;
  /* margin-bottom: 40px; */
}

.quote-item .quote-thumb {
  width: 80px;
  margin-bottom: 20px;
}

.quote-item .quote-thumb img {
  width: 100%;
}

.quote-item .quote-content {
  width: 100%;
}

.quote-item .quote-content p {
  margin: 0;
}

@media (min-width: 576px) {
  .quote-item {
      padding: 40px 30px;
      margin-bottom: 40px;
  }
}

@media (min-width: 768px) {
  .quote-item .quote-thumb {
      margin-bottom: 0;
  }

  .quote-item .quote-content {
      width: calc(100% - 80px);
      padding-left: 30px;
  }
}

.video-wrapper {
  position: relative;
}

.video-wrapper img {
  width: 100%;
}

.know-single-item {
  margin-bottom: 40px;
}

.know-single-item .video-wrapper {
  margin-bottom: 35px;
}

@media (min-width: 768px) {
  .know-single-item .video-wrapper {
      margin-bottom: 45px;
  }
}

.know-single-item .title {
  margin-top: 0;
  margin-bottom: 20px;
}

.know-single-item p {
  margin-bottom: 30px;
}

@media (min-width: 576px) {
  .know-single-item .title {
      margin-bottom: 30px;
  }

  .know-single-item p {
      margin-bottom: 39px;
  }
}

.know-single-item:last-child {
  margin-bottom: 0;
}

/*Error Section Starts Here*/
.error-thumb {
  margin-bottom: 50px;
}

.error-thumb img {
  width: 100%;
}

@media (min-width: 768px) {
  .error-thumb {
      margin-bottom: 68px;
  }
}

.error-content {
  max-width: 475px;
  margin: 0 auto;
  text-align: center;
}

.error-content p {
  margin-bottom: 28px;
}

@media (min-width: 576px) {
  .error-content p {
      font-size: 22px;
      line-height: 32px;
  }
}

@media (min-width: 768px) {
  .error-content p {
      margin-bottom: 36px;
  }
}

/*Team Section Starts Here*/
.team-item {
  margin: 0 auto 30px;
}

@media (max-width: 575px) {
  .team-item {
      max-width: 400px;
  }
}

.team-item .team-thumb {
  border-radius: 20px;
  overflow: hidden;
}

.team-item .team-thumb a {
  display: block;
}

.team-item .team-thumb img {
  width: 100%;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.team-item .team-content {
  text-align: center;
  border-radius: 10px;
  background: #5900ff;
  padding: 40px 15px 30px;
  position: relative;
  z-index: 1;
  margin: -45px 15px 0;
}

@media screen and (min-width: 400px) {
  .team-item .team-content {
      margin: -75px 30px 0;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .team-item .team-content {
      margin: -45px 15px 0;
  }
}

.team-item .team-content .title {
  margin: 0;
  margin-bottom: 6px;
}

.team-item .team-content .title a {
  color: #ffffff;
}

.team-item .team-content span {
  color: #bfc4f6;
  font-size: 18px;
}

.team-item:hover .team-thumb img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

/* [class^="icon-"] {
  color: white; 
} */

.icon-search {
  color: white; 
}

.goldButton {
  background: #ccb161f0;
  color: #1C1B19;
}

.btn-primary {
  border: #1E1C12 3px solid;
  /* border-color: #ccb161f0; */
  background-color: #1E1C12;
  color: #FFF;
  border-radius: 100px 100px 100px 100px;
  font-weight: 700;
  font-size: 12px;
  box-shadow: 0 0 27px 0 rgb(0 0 0 / 12%);
}

.btn-primary:hover, .btn-primary:active {
  border: #ccb161f0 3px solid;
  /* border-color: #ccb161f0; */
  background-color: #DAC77E;
  color: #fff;
  /* border-radius: 4px; */
}

.content-wrapper {
  background-color: #f2f2f2;
}

.popular-content {
  padding: 5px;
}

.popular-content .info {
  color: #1C1B19;
}

.popular-content p{
  font-size: 16px;
}

.btn-outline-secondary {
  border: #1E1C12 1px solid;
  /* border-color: #ccb161f0; */
  background-color: #1E1C12;
  color: #FFF;
  border-radius: 4px;
  box-shadow: 0 0 27px 0 rgb(0 0 0 / 12%);
}

.btn-outline-secondary:hover {
  border: #ccb161f0 1px solid;
  background-color: #DAC77E;
  color: #FFF;
  /* border-radius: 4px; */
}


.sidebarMobile {
  /* min-height: calc(100vh - 60px); */
  background: #ccb161f0;
  margin-top: -10px;
  /* font-family: "Nunito", sans-serif; */
  font-weight: 500;
  padding: 0;
  width: 100%;
  z-index: 11;
  transition: width 0.25s ease, background 0.25s ease;
  -webkit-transition: width 0.25s ease, background 0.25s ease;
  -moz-transition: width 0.25s ease, background 0.25s ease;
  -ms-transition: width 0.25s ease, background 0.25s ease;
}

.sidebarMobile .nav {
  /* margin-top: 40px; */
  overflow: hidden;
  flex-wrap: nowrap;
  flex-direction: column;
  /* margin-bottom: 60px; */
  align-items: center;
}

.sidebarMobile .nav .nav-item {
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  transition-property: background;
  -webkit-transition-property: background;
  width: 100%;
}

.sidebarMobile .nav .nav-item .collapse {
  z-index: 999;
}

.sidebarMobile .nav .nav-item .nav-link {
  text-align: center;
  /* display: -webkit-flex; */
  /* display: flex; */
  -webkit-align-items: center;
  align-items: center;
  white-space: nowrap;
  padding: 0.8125rem 1.937rem 0.8125rem 1rem;
  color: white;
  border-radius: 8px;
  -webkit-transition-duration: 0.45s;
  -moz-transition-duration: 0.45s;
  -o-transition-duration: 0.45s;
  transition-duration: 0.45s;
  transition-property: color;
  -webkit-transition-property: color;
}

.sidebarMobile .nav .nav-item.active > .nav-link {
  background: #ccb161f0;
}

.sidebarMobile .nav:not(.sub-menu) > .nav-item:hover > .nav-link,
.sidebarMobile .nav:not(.sub-menu) > .nav-item:hover[aria-expanded="true"] {
  background: #1E1C12;
  border: 3px solid #ccb161f0;
}

.sidebarMobile .nav:not(.sub-menu) > .nav-item > .nav-link[aria-expanded="true"] {
  background: #1E1C12;
  border: 3px solid #ccb161f0;
}

.sidebarMobile .nav:not(.sub-menu) > .nav-item.active {
  background: #1E1C12;
  border: 3px solid #ccb161f0;
}

.sidebarMobile .nav.sub-menu {
  background: #f0dca1f0;
}

.sidebarMobile .sidebar {
  background: #ccb161f0;
}

.sidebar-icon-only .sidebar .nav .nav-item .nav-link .menu-title {
  background: #c19b2f !important;
}

.sidebar .nav .nav-item .nav-link i.menu-icon {
  color: white;
}


#sidebarMenuButton {
  display: none;
}


/* Mobile View */
.menu-toggle {
  color: #FFF;
  float: right;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

#sidebarMenuButton {
  align-self: center !important;
}

#collapseMenu {
  margin-bottom: -40px;
}



@media (max-width: 991px) {
  header {
    padding: 0 20px;
  }
  .menu-toggle {
    display: block;
  }
  header nav {
    position: absolute;
    width: 100%;
    height: calc(100vh - 50px);
    background: #333;
    top: 50px;
    left: -100%;
    transition: 0.5s;
  }
  header nav.active {
    left: 0;
  }
  header nav ul {
    display: block;
    text-align: center;
  }
  header nav ul li a {
    border-bottom: 1px solid rgba(0,0,0,0.2);
  }

  #searchBar{
    display: none;
  }

  #sidebarMenuButton {
    display: block;
  }

  .contact-us-text {
    display: none;
  }

  .telegram-button {
    padding: 8px;
  }
}

.footer {
  background-color: #ccb161f0;
  /* margin-left: -50px;
  margin-right: -50px; */

}

.footer div{
  color: #fff;
}


.footer a {
  color: #1C1B19;
  font-size: inherit;
}

.text-gold {
  color: #ccb161f0;
  font-family: 'Poppins';
}

.divider {
  width: 100%;
  border-top: 1px solid white;
}

.footer-link-list li {
  list-style: none;
  margin-left: -17px;
  margin-top: 10px;
  font-weight: 400;
  font-size: 17px;
}


.footer-link p{
  font-size: 17px;
  line-height: 2;
}

.footer-link-list li a{
  color: white;
}

.big-card-tale {
  background-color: white;
  color: #1E1C12;
  border: 3px solid #ccb161f0;
}

.big-card-tale:hover {
  background-color: #1E1C12;
  color: #ccb161f0;
  border: 3px solid #ccb161f0;
}

/* .card.card-tale .card-body .icon-card-box{
  color: #1E1C12 !important;
} */

.big-card-tale .card-body .icon-card-box:hover {
  color: white;
}

.card.card-tale {
  background-color: #1E1C12;
  color: white;
  border: 3px solid #ccb161f0;
}

.card.card-tale:hover {
  background-color: #1E1C12;
  color: #ccb161f0;
  border: 3px solid #ccb161f0;
}




