<!-- <div class="card">
  <div class="card-header card-header-submit">Still have questions?</div>
  <div class="card-body">
    <h4 class="card-title">Contact Us</h4>
    <form class="forms-sample">
      <div class="form-group">
        <label for="exampleInputEmail3">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail3"
          placeholder="Email"
        />
      </div>
      <div class="form-group">
        <label for="exampleTextarea1">Description</label>
        <textarea
          class="form-control"
          id="exampleTextarea1"
          rows="4"
        ></textarea>
      </div>
      <a class="btn btn-primary mr-2"><span><i class="mdi mdi-email float-left mr-2"></i><strong>Send</strong></span></a>
    </form>
  </div>
</div> -->
