<footer class="footer">
  <div class="text-center">
    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">
      <!-- Copyright © 2021
      <a href="https://533d.finance/" target="_blank">SEED.</a>
      All Rights Reserved. -->
      <div class="text-center">
        <span style="font-size: 12px;">Disclaimer: Returns rates are indicative of the strategy type. Past performance does not guarantee the future outcomes. 
          SEED does not provide financial, tax, legal nor any other kind of advice. Nothing presented by SEED should be deemed as inducement to make a particular investment or strategy. Anything you invest in is at your own risk. 
          Do your own research and consult with professionals.
        </span>
      </div>
      <div class="text-center mt-3">
        <strong>Copyright © 2021 SEED. All Rights Reserved.</strong>
      </div>

      <!-- <strong>Copyright © 2021 SEED. All Rights Reserved.</strong> -->
    </span>
  </div>
</footer>
 