<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div
    class="
      text-center
      navbar-brand-wrapper
      d-flex
      align-items-center
      justify-content-center
    "
  >
    <a class="navbar-brand brand-logo mr-5" href="index.html"
      ><img src='{{ "/assets/images/seed-final-logo-white.png" | absolute_url }}' class="mr-2" alt="logo"
    /></a>
    <a class="navbar-brand brand-logo-mini" href="index.html"
      ><img src='{{ "/assets/images/seed-final-logo-white.png" | absolute_url }}' alt="logo"
    /></a>
  </div>
  <div
    class="navbar-menu-wrapper d-flex align-items-center justify-content-end"
  >
    <button
      class="navbar-toggler align-self-center"
      type="button"
      data-toggle="minimize"
    >
      <span class="icon-menu text-white"></span>
    </button>
    <ul class="navbar-nav mr-lg-2 w-75 ml-5">

      <div class="input-group ml-5" id="searchBar">
        <div class="input-group-prepend">
          <a id="searchButton" type="button" class="btn btn-outline-secondary" href='{{ "/search/results.html" | absolute_url }} ' onclick="setSearchQuery();">
            <i class="icon-search" style="color: white;"></i>
          </a>
        </div>
        <input type="text" id="navbar-search-input" placeholder="Search now" class="form-control" style="width: 600px;" aria-label="search" aria-describedby="search">
      </div>
    </ul>
    <ul class="navbar-nav navbar-nav-right">
      <li class="nav-item nav-profile dropdown">
        <a class="btn btn-rounded btn-primary" 
          style="white-space: nowrap;"
          href="https://web.telegram.org/z/#1721399054"
          target="_blank">
          <span><i class="mdi mdi-telegram"></i><strong>Contact Us</strong></span>
        </a>
      </li>
      <a id="sidebarMenuButton" class="btn btn-rounded btn-primary p-2" data-toggle="collapse" data-target="#collapseMenu" aria-expanded="false" aria-controls="collapseExample">
        <span><i class="mdi mdi-apps"></i></span>
      </a>
    </ul>
  </div>
</nav>

<div class="collapse" id="collapseMenu">
  <div class="card card-body">
    <nav class="sidebarMobile" id="sidebar">
      <ul class="nav mt-5">
      <li class="nav-item container">
        <div class="input-group" id="search">
          <div class="input-group-prepend">
            <a id="searchButton" type="button" class="btn btn-outline-secondary" href='{{ "/search/results.html" | absolute_url }} ' onclick="setSearchQuery();">
              <i class="icon-search" style="color: white;"></i>
            </a>
          </div>
          <input type="text" id="navbar-search-input" placeholder="Search now" class="form-control" aria-label="search" aria-describedby="search">
        </div>
      </li>
      </ul>
      <ul class="nav">
        {% for item in site.data.sidebar %} 
      
        {% assign submenusize = item.submenu |  size %}
    
        {% if submenusize == 0 %}
    
        <li class="nav-item">
          <a class="nav-link" href="{{ item.link }}">
            <i class="icon-grid menu-icon"></i>
            <span class="menu-title"> {{item.menu}}</span>
          </a>
        </li>
        {% endif %} 
    
        {% if submenusize > 0 %}
        <li class="nav-item">
    
          <a
            class="nav-link"
            data-toggle="collapse"
            href="#{{ item.link }}"
            aria-expanded="false"
            aria-controls="ui-basic"
          >
            <i class="icon-layout menu-icon"></i>
            <span class="ml-2 menu-title"> {{item.menu}} </span>
            <i class="menu-arrow"></i>
          </a>
    
          <div class="collapse" id="{{ item.link }}">
            <ul class="nav flex-column sub-menu">
              {% for citem in item.submenu %}
    
              <li class="nav-item">
                <a class="nav-link" href="{{ citem.link }}">{{ citem.name }}</a>
              </li>
    
              {% endfor %}
            </ul>
          </div>
    
        
        </li>
        {% endif %}
        
        {% endfor %}
    
      </ul>
    
    </nav>
    
  </div>
</div>


