<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div
    class="
      text-center
      navbar-brand-wrapper
      d-flex
      align-items-center
      justify-content-center
    "
  >
    <a class="navbar-brand brand-logo mr-5" href="index.html"
      ><img src='{{ "/assets/images/seed-final-logo-white.png" | absolute_url }}' class="mr-2" alt="logo"
    /></a>
    <a class="navbar-brand brand-logo-mini" href="index.html"
      ><img src='{{ "/assets/images/seed-final-logo-white.png" | absolute_url }}' alt="logo"
    /></a>
  </div>
  <div
    class="navbar-menu-wrapper d-flex align-items-center justify-content-end"
  >
    <button
      class="navbar-toggler navbar-toggler align-self-center"
      type="button"
      data-toggle="minimize"
    >
      <span class="icon-menu"></span>
    </button>
    <ul class="navbar-nav mr-lg-2">

      <div class="input-group ml-5">
        <div class="input-group-prepend">
          <!-- <button class="btn btn-outline-secondary" type="button"><i class="icon-search" style="color: white;"></i></button> -->
          <a type="button" class="btn btn-outline-secondary" href='{{ "/search/results.html" | absolute_url }} ' onclick="setSearchQuery();">
            <i class="icon-search" style="color: white;"></i>
          </a>
        </div>
        <input type="text" class="form-control" style="width: 400px;" placeholder="" aria-label="" aria-describedby="basic-addon1">
      </div>


      <!-- <li class="nav-item nav-search d-none d-lg-block">
        <div class="input-group">
          <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
            <span class="input-group-text" id="search">
              <a type="button" class="btn btn-outline-secondary" href='{{ "/search/results.html" | absolute_url }} ' onclick="setSearchQuery();">
                <i class="icon-search" style="color: white;"></i>
              </a>             
            </span>
          </div>
          <input
            type="text"
            class="form-control text-white"
            id="navbar-search-input"
            placeholder="Search now"
            aria-label="search"
            aria-describedby="search"
          />
        </div>
      </li> -->
    </ul>
    <ul class="navbar-nav navbar-nav-right">
      <li class="nav-item nav-profile dropdown">
        <a
          class="btn btn-rounded btn-primary p-2" 
          href="https://t.me/seedfinance"
          target="_blank"
        >
          <!-- <img src="images/faces/face28.jpg" alt="profile"/> -->
          <span><i class="mdi mdi-telegram"></i><strong>Chat with Us</strong></span>
        </a>
      </li>
    </ul>
  </div>
</nav>
