<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <title>SEED Support</title>
  <!-- plugins:css -->
  <link
    rel="stylesheet"
    href='{{ "/assets/vendors/feather/feather.css" | absolute_url }}'
  />
  <link
    rel="stylesheet"
    href='{{ "/assets/vendors/ti-icons/css/themify-icons.css" | absolute_url }}'
  />
  <link
    rel="stylesheet"
    href='{{ "/assets/vendors/css/vendor.bundle.base.css" | absolute_url }}'
  />
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link
    rel="stylesheet"
    href='{{ "/assets/vendors/datatables.net-bs4/dataTables.bootstrap4.css" | absolute_url }}'
  />
  <link
    rel="stylesheet"
    href='{{ "/assets/vendors/ti-icons/css/themify-icons.css" | absolute_url }}'
  />
  <link
    rel="stylesheet"
    type="text/css"
    href='{{ "/assets/js/select.dataTables.min.css" | absolute_url }}'
  />
  <!-- End plugin css for this page -->
  <link
    rel="stylesheet"
    href='{{ "/assets/vendors/mdi/css/materialdesignicons.min.css" | absolute_url }}'
  />
  <!-- inject:css -->
  <link
    rel="stylesheet"
    href='{{ "/assets/css/vertical-layout-light/style.css" | absolute_url }}'
  />
  <link
    rel="stylesheet"
    href='{{ "/assets/vendors/flaticon/css/flaticon.css" | absolute_url }}'
  />

  <!-- endinject -->
  <link
    rel="shortcut icon"
    href='{{ "/assets/images/favicon.png" | absolute_url }}'
  />

  <!-- custom seed:css -->
  <link
    rel="stylesheet"
    href='{{ "/assets/css/custom-seed.css" | absolute_url }}'
  />
</head>
